:root {
	--main-bg: hsl(0, 0%, 100%);
	--text-dark: hsl(233, 14%, 25%);
	--text-light: hsl(0, 0%, 100%);
	--text-link: hsl(320, 85%, 41%);
	--header-bg: hsl(232, 58%, 55%);
	--link-gradient1: hsl(180, 100%, 42%);
	--link-gradient2: hsl(50, 99%, 53%);
	--hero-bg: hsl(232, 58%, 55%);
	--btn-primary-bg: hsl(180, 100%, 42%);
	--btn-primary-bg-hover: hsl(180, 100%, 37%);
	--btn-primary-white-bg: hsl(0, 0%, 100%);
	--btn-primary-white-bg-hover: hsl(0, 0%, 90%);
	--btn-primary-text: hsl(233, 14%, 25%);
	--btn-secondary-bg: transparent;
	--btn-secondary-bg-hover: hsl(0, 0%, 100%);
	--btn-secondary-border: hsl(0, 0%, 100%);
	--btn-secondary-text: hsl(0, 0%, 100%);
	--btn-secondary-text-hover: var(--hero-bg);
	--fullwidth-bg: hsl(320, 85%, 41%);
	--gradient1: hsl(233, 14%, 25%);
	--gradient2: hsl(232, 58%, 55%);
	--gradient3: hsl(180, 100%, 42%);
}

.magenta {
	background-color: hsl(300, 100%, 30%);
}

.green {
	background-color: hsl(120, 100%, 27%);
}
