@use "../util" as u;

.blog {
	&__grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(u.rem(300), 1fr));
		gap: 20px;

		@include u.breakpoint(large) {
		}
	}

	&__item {
		position: relative;
		display: grid;
		grid-template: 1fr / 1fr;
		border-radius: 16px;
		min-height: u.rem(300);
		overflow: hidden;

		@for $i from 1 through 8 {
			&:nth-child(8n + #{$i}) .blog__filter {
				background-image: linear-gradient(
					calc(45deg * $i),
					var(--blog-gradient1) 30%,
					var(--blog-gradient2) 100%
				);
			}
		}

		> * {
			grid-column: 1 / -1;
			grid-row: 1 / -1;
		}
	}

	&__image {
		position: absolute;
		height: 100%;
		object-fit: cover;
	}

	&__filter {
		background-image: linear-gradient(
			to right,
			var(--blog-gradient1) 30%,
			var(--blog-gradient2) 100%
		);
		mix-blend-mode: lighten;
	}

	&__text {
		align-self: center;
		isolation: isolate;
		display: grid;
		gap: u.rem(16);
		margin-inline: 10px;
		border-radius: 8px;
		padding: 16px;
		background-color: var(--main-bg);
		box-shadow: 0 4px 10px var(--blog-shadow);

		* {
			margin: 0;
		}
	}

	&__title {
		a {
			color: var(--text-dark);

			&:hover {
				color: var(--text-link);
			}
		}
	}

	&__meta {
		display: flex;
		justify-content: space-between;

		* {
			font-size: u.rem(14);
			line-height: 1;
		}

		time {
			text-transform: uppercase;
		}
	}
}
