@use "../util" as u;

.fw-feature {
	color: var(--text-light);
	text-align: center;
	background-color: var(--fullwidth-bg);

	&__description {
		margin-block-end: u.rem(40);
		margin-inline: auto;
		max-width: 70ch;
	}

	&__image {
		margin-inline: auto;
		max-width: u.rem(792);
	}
}
